<div class="container">
    <div class="col-12 p-3 mt-5">
        <div class="card shadow">
            <p-table
            #emergencytable 
            [value]="emergencyData" 
            [loading]="loading" 
            sortMode="multiple"
            styleClass="p-datatable-striped"
            [paginator]="true" 
            [rows]="8"
            [showCurrentPageReport]="true" 
            responsiveLayout="scroll"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            [rowsPerPageOptions]="[8,16,24]"
            [globalFilterFields]="['holder.firstName','holder.lastName']"
            >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input 
                        pInputText type="text" 
                        (input)="emergencytable.filterGlobal($event.target.value, 'contains')" 
                        placeholder="Search Data" />
                    </span>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="emergency.emergencyId">Emergency Id 
                            <p-sortIcon field="emergency.emergencyId"></p-sortIcon>
                            <p-columnFilter type="text" field="emergency.emergencyId" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="emergency.requestTime">Request Time 
                            <p-sortIcon field="emergency.requestTime"></p-sortIcon>
                        </th>
                        <th pSortableColumn="device.serialNumber">Serial Number 
                            <p-sortIcon field="device.serialNumber"></p-sortIcon>
                            <p-columnFilter type="text" field="device.serialNumber" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="holder.firstName">First Name 
                            <p-sortIcon field="holder.firstName"></p-sortIcon>
                            <p-columnFilter type="text" field="holder.firstName" display="menu"></p-columnFilter>
                        </th>
                        <th pSortableColumn="holder.lastName">Last Name 
                            <p-sortIcon field="holder.lastName"></p-sortIcon>
                            <p-columnFilter type="text" field="holder.lastName" display="menu"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-emergencyData>
                    <tr>
                        <td>{{emergencyData.emergency.emergencyId}}</td>
                        <td>{{emergencyData.emergency.requestTime | date:'full'}}</td>
                        <td>{{emergencyData.device.serialNumber}}</td>
                        <td>{{emergencyData.holder.firstName}}</td>
                        <td>{{emergencyData.holder.lastName}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>